<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Prince Shokoya using Node, Express and various packages.</p>
        <p>It uses data from API's from Mapbox.com and WeatherStack.com</p>
        <img class="selfPic" src="/img/me.jpg">
    </div>
    
    {{>footer}}
  </body>
</html>
